@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.main-title {
    margin: 0px auto 80px;
    border: 2px solid black;
    width: fit-content;
    padding: 10px 20px;
    font-size: 30px;
    z-index: 1;
    position: relative;
    transition: 0.3s;
}
.main-title::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #0a49f6;
    border-radius: 50%;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
}
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #0a49f6;
    border-radius: 50%;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

/* end global rules  */
/* the header section  */
header {
    width: 100%;
    background-color: #f0f0f0;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    color: #3a6cf4;
    font-weight: 800;
    font-size: 1.8em;
    text-transform: uppercase;
}
.navigation a {
    color: #3a6cf4;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}
.navigation a:hover {
    color: #601cfc;
}

/* the main section  */
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../imgs/3949083.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main h2 {
    font-size: 1.4em;
    font-weight: 500px;
    color: white;
}
.main h2 span {
    font-size: 3em;
    font-weight: 600;
    color: #3a6cf4;
    display: inline-block;
    margin-top: 10px;
}
.main h3 {
    margin: 10px 0 30px;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}
.main-btn {
    font-size: 1.2em;
    font-weight: 600;
    background-color: #3a6cf4;
    color: white;
    padding: 0.9375em 2.1875em;
    border-radius: 10px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 30px;
    transition: 0.75s ease;
}
.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(110%);
}
.social-icons a {
    color: white;
    font-size: 1.7em;
    margin-right: 30px;
}
/* services */

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 100px 0;
}
.container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 6px;
    transition: 0.5s ease;
}
.container .card i {
    color: #0a49f6;
    font-size: 5em;
    margin: 10px;
}
.container .card h3 {
    font-size: 2em;
    font-weight: 600;
    color: #3a6cf4;
    margin: 20px 0 15px;
}
.container .card p {
    font-weight: 500;
    line-height: 1.6;
    max-width: 90%;
    color: #777;
}
.container .card:hover {
    transform: scale(1.03);
    box-shadow: -0 5px 25px rgba(1 1 1/ 15%);
}
/* projects */
.projects {
    padding: 200px;
    background-color: #000016;
    color: white;
}
.projects .main-title {
    border-color: white;
}
.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.projects .box {
    border: 1px solid #f9f9f9;
    min-height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.7s ease;
}
.projects .box:hover {
    transform: translateY(-10px);
}
.projects .box:hover .image {
    opacity: 0.9;
}
.projects .image img {
    width: 100%;
    border-bottom: 1px solid white;
}
.projects .info {
    text-align: center;
    padding: 1em 0.7em;
    line-height: 1.8;
}
.projects .info .category {
    font-weight: 600;
    font-size: 1.2em;
}
.projects .project-title {
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    text-transform: uppercase;
}
.projects .project-title a {
    color: #3a6cf4;
}
.projects .project-title a:hover {
    color: #601cfc;
}
/* contact Me */
.contact .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 30px;
}
.contact .card i {
    font-size: 4em;
    color: #0a49f6;
}
.contact .card h3 {
    color: black;
    font-weight: 800;
}
.contact .card p {
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
    line-height: 1.8;
}
.contact .card a {
    color: #3a6cf4;
}
.contact .card a:hover {
    color: #601cfc;
}
/* footer */
.footer {
    padding: 30px 0;
    background-color: #000016;
    display: flex;
    justify-content: space-between;
}
.footer .rights {
    padding: 10px 15px;
    text-align: center;
}
.footer .rights h3 {
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: -1px;
}
.footer .rights h3 span {
    color: #0a49f6;
    font-weight: 800;
    font-style: italic;
}

/* animation */
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
/* the media query */
@media (max-width: 378px) {
    header {
        max-width: 374px;
    }
    /* .projects .box {
        max-width: 320px;
    } */
    .contact .main-title {
        max-width: 220px;
        text-align: center;
    }
    .contact .card {
        max-width: 300px;
    }
    .contact .card a {
        font-size: 0.7em;
    }
}
/* @media (max-width: 769px) {
    .projects .box {
        max-width: 280px;
    }
} */
@media (max-width: 1024px) {
    header {
        padding: 10px 15px;
        font-size: 1.2em;
    }
    .navigation a {
        padding-left: 5px;
        font-size: 1em;
    }
    .main-title {
        font-size: 1.5em;
    }
    section {
        padding: 50px 20px;
    }
    .main {
        max-width: 1022px;
    }
    .main h2 {
        font-size: 1em;
    }
    .main h2 span {
        font-size: 1.3em;
    }
    .main h3 {
        font-size: 1em;
    }
    .main-btn {
        padding: 0.7124em;
    }
    .projects {
        padding: 40px 30px;
    }
}
